fastapi
uvicorn[standard]
SQLAlchemy
pymysql
cryptography
pydantic
websockets
httpx
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
alembic
insightface
scikit-learn
opencv-python-headless
numpy
onnx
onnxruntime
pillow
jinja2
